body{
    background-color: black;
    padding: 15px;
}

body{
    background-image: url(header.jpg);
    background-repeat: no-repeat;

    
}
}
#bandeau{
    color: white;;
    font-size: 1000%;
    text-shadow:blue 2px 2px 2px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    }


.icônes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    gap: 60px;
    width: 920px;
}

.chapeau{
    width: 120%;
}

.guitare{
    width: 120%;
}

.avion{
    width: 120%;
}

.contacts{
    width: 120%;
}

.title{
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
    padding: 100px;
}


#qui{
    width: 920px;
}
#qui > p{
    color: white;
    text-align: justify;
    font-size: x-large;
    font-family: 'Bree Serif', serif;
}

#qui > img{
    width: 100%;
}

#quoi{
    width: 920px;
}

#quoi > ul{
    color: white;
    text-align: justify;
    font-size: larger;
    font-family: 'Bree Serif', serif;
}

#quoi > img{
    width: 80%;
}

#moi{
    width: 920px;
}

#moi > p{
    color: white;
    text-align: justify;
    font-size: larger;
}

#moi > img{
    width: 100%;
    align-content: center;
}

#moi > iframe{
    width: 100%;
}

#moi > p{
    font-family: 'Bree Serif', serif;
    font-size: x-large;
}

.photo{
    width: 150px;
}

#contact{
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    align-content: center;
}

.fb{
    width: 306px;
}

.insta{
    width: 306px;
}

.linkedin{
    width: 306px;
}

@media (min-width: 1280px){
    .title {
        text-align: center;
        color: white;
        padding: 40px;
        }
        
        #bandeau {
            color: white;
            font-size: 600%;
            text-shadow: 2px 2px 2px blue ;
            text-transform: uppercase;
            letter-spacing: 3px;
            align-content: center;
            justify-content: center;
        }
        
        body {
            background-color: black;
            margin: 30px;
            
        }
        
        .text {
            color: white;
            font-size: x-large;
            text-align: justify
        }
        
        .icônes{
            width: 100%;
            align-items: center;
            justify-items: center;
        }

        .chapeau {
            width: 220px;
        }
        
        .guitare{
            width: 300px;
        }
        
        .avion{
            width: 350px;
        }
        .contacts{
            width: 100%;
            
            
        }
      
        
        #qui{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
        gap: 50px
        
        }
        
        .afrique {
            width: 500px;
        }
        
        .sthetoscope{
            width: 500px;
        }
        
        .profil{
            width: 150px;
        }
        
        
        .quoi{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
            width: 100%;
        }
            
        .photo{
            width: 200px;
        }
        
        
        .fb{
            width: 250px;
        }
        
        .insta{
            width: 250px;
        }
        
        .linkedin{
            width: 250px;
        }
        
        #moi{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
            gap: 30px;
            width: 100%;
            
        }

        #helix{
            width: 60%;
        }

        #contact{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;
            width: 100%;
        }
        
        .geralt{
        
            width: 860px;
        }
    .concert{
        width: 860px;
    }
}